<main id="list-component">
  <section id="list-section">
    <header id="list-header">
      <div class="flex max-sm:flex-col max-sm:gap-10 justify-between">
        <h1 class="title">Entidades</h1>
        <button mat-raised-button class="default" [routerLink]="['/criar']">Nova Entidade</button>
      </div>
      <div class="search-input relative">
        <label for="search" class="absolute pointer-events-none">
          <mat-icon>search</mat-icon>
        </label>
        <input id="search" type="text" [(ngModel)]="searchInputModel" (keyup.enter)="onSearchChange($event)" (input)="onSearchChange($event)" #searchInput>
      </div>
    </header>
    <div class="list-container" *ngIf="dataSource">
      <ng-container *ngIf="clientWidth >= 960; else mobileTable" #table>
        <table mat-table [dataSource]="dataSource" matSort
        (matSortChange)="announceSortChange($event)">
          <!-- Name -->
          <ng-container matColumnDef="fantasy_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Filtrar por nome">
              Nome
            </th>
            <td mat-cell *matCellDef="let element">
              <p>{{element.fantasy_name}} </p>
            </td>
          </ng-container>
          <!-- Region -->
          <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Filtrar por região">
              Região
            </th>
            <td mat-cell *matCellDef="let element"> {{element.region}} </td>
          </ng-container>
          <!-- Medical Specialties -->
          <ng-container matColumnDef="medical_specialties">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Filtrar por especialidades">
              Especialidades
            </th>
            <td mat-cell *matCellDef="let element"
              class="medical-specialties"
              (click)="shared.openMedicalSpecialtiesDialog(element.medical_specialties)">
              <ng-container *ngIf="medicalSpecialtiesList">
                <div class="flex gap-2 justify-center items-center">
                  <div>
                    {{ shared.filterSpecialtyLabel(element.medical_specialties, medicalSpecialtiesList)}}
                    <ng-container *ngIf="element.medical_specialties.length > 1">
                      <span class="text-xs" >
                        (+{{element.medical_specialties.length - 1}} {{element.medical_specialties.length === 2 ? 'Outro' : 'Outros'}})
                      </span>
                    </ng-container>
                  </div>
                  <lucide-icon name="arrow-up-right-from-square" class="icon w-3.5 self-end"></lucide-icon>
                </div>
              </ng-container>
            </td>
          </ng-container>
          <!-- Active Column -->
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Filtrar por Status">
              Ativa
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.active; else entityInactive">
                <lucide-icon name="check-circle" color="green"></lucide-icon>
              </ng-container>
              <ng-template #entityInactive>
                <lucide-icon name="x-circle" color="red"></lucide-icon>
              </ng-template>
            </td>
          </ng-container>
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"
            class="actions space-x-3">
              <button mat-icon-button (click)="onViewClick(element)">
                <lucide-icon name="eye"></lucide-icon>
              </button>
              <button mat-icon-button (click)="onEditClick(element)">
                <lucide-icon name="pencil"></lucide-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-container>
      <ng-container>
        <mat-paginator #paginator
          showFirstLastButtons="true"
          [pageSize]="pageSize"
          [length]="(totalItems$ | async)"
          aria-label="Selecione a página"
          hidePageSize="true"
          id="pagination">
        </mat-paginator>
      </ng-container>
    </div>
  </section>
</main>

<ng-template #mobileTable>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    <!-- Name -->
    <ng-container matColumnDef="fantasy_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Filtrar por nome">
        Nome
      </th>
      <td mat-cell *matCellDef="let element"> {{element.fantasy_name}} </td>
    </ng-container>
    <!-- Region -->
    <ng-container *ngIf="clientWidth > 600" matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Filtrar por região">
        Região
      </th>
      <td mat-cell *matCellDef="let element"> {{element.region}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [routerLink]="[row.id]">
    </tr>
  </table>
</ng-template>

