@import 'src/styles.scss';

#login {
  @apply
    w-screen
    h-screen
    mx-0
    flex
    flex-col
    justify-center
    items-center;

  @screen md {
    @apply
      w-4/5
      mx-auto;
  }

  @screen lg {
    @apply
      w-3/5
      mx-0
      pl-40;
  }

  @screen xl {
    @apply
      w-3/5;
  }
  @screen xl {
    @apply
      max-w-4xl;
  }

  .validators {
     @apply
       flex
       flex-col
       justify-center
       items-center
       space-y-5
       mb-5;

       .validator {
        @apply
          flex
          justify-center
          items-center
          gap-2
          text-sm
          font-bold;
       }
  }

  #login-container{
    border-color: $black;
    background-color: $white-fade;

    @apply
      h-full
      w-screen
      px-10
      pt-10
      pb-5
      flex
      flex-col
      justify-center
      rounded-none
      bg-opacity-60
      shadow-2xl;

    @screen sm {
      @apply
      h-auto
        container
        border
        border-solid
        rounded-3xl;
    }

    #login-form {
      .title {
        @apply
          text-center;
      }

      .forms {
        ::ng-deep .mat-form-field {
          @apply
            pt-3
            px-2
            bg-transparent
            border-none
            rounded-t-lg
            text-sm
            sm:text-base
            md:text-xl
            xl:text-2xl;

            label {
              color: $black;

              @apply
                text-sm
                sm:text-base
                md:text-xl
                xl:text-lg;
            }

            ::ng-deep input {
              @apply
                bg-transparent;

                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                  transition: background-color 5000s ease-in-out 0s;
                }
            }
        }

        ::ng-deep .mat-error {
          @apply
            text-base;

          color: $orange;
        }

        input[type=password]::-ms-reveal,
        input[type=password]::-ms-clear
        {
            display: none;
        }


      }

      button.default {
        background-color: $orange;
        color: $white;
      }
    }

    #register {
      align-self: center;

      @apply
        mt-5;

      a {
        color: $black;
        font-weight: 600;
        transition: opacity .1s ease-in;
        text-decoration: underline;

        @apply
          text-sm;

        &:hover {
          opacity: .6;
        }
      }
    }
  }
}
